// menu button
.menu-btn {
  position: absolute;
  z-index: 5;
  right: 35px;
  top: 35px;
  cursor: pointer;
  @include easeOut;

  .btn-line {
    width: 28px;
    height: 3px;
    margin: 0 0 5px 0;
    background: #000;
    @include easeOut;
  }

  // rotate menu icon into X | this class is generated through js.
  &.close {
    transform: rotate(180deg);
    // inside of the menu-btn, there are line classes
    .btn-line {
      // sudo element using nth child
      //line 1 - will rotate
      &:nth-child(1) {
        transform: rotate(45deg) translate(5px, 5px);
      }
      //line 2 - will disappear
      &:nth-child(2) {
        opacity: 0;
      }
      //line 3 - will rotate
      &:nth-child(3) {
        transform: rotate(-45deg) translate(7px, -6px);
      }
    }
  }
}

// menu overlay
.menu {
  position: fixed;
  top: -7.55%;
  left: 0%;
  width: 100%;
  padding: 0em;
  opacity: 0.95;
  display: none;
  z-index: 4;

  // when show class gets added
  &.show {
    display: flex;
  }

  &-nav {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin: 0em;
    padding: 0em;
    background: $color-light-dark;
    height: 80vh;
    z-index: 2;
  }
}
